[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/isTianXin/hermit.git
[submodule "themes/themes/hello-friend"]
	path = themes/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
