<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span
          >© {{ now.Year }}
          <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener">备案号：鲁ICP备2021021411号-1</a></span
        >
        <span
          >
          <img src="{{ "img/20210630/beian.png" | absURL }}" style="float:left;padding-right: 4px;"/>
          <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37011602000031" target="_blank" rel="noopener">鲁公网安备37011602000031号</a></span
        >
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
